@import "../../assets//scss/colors";
@import "../../assets//scss/fonts";

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.radius-button {
  font-family: $sofia-pro-semi-bold;
  font-size: 12px;
  background-color: $blue;
  color: $white;
  padding: 10px 13px;
  border-radius: 25px;
}

.notification {
  position: relative;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: $blue;
  border-radius: 50%;
  position: absolute;
  font-family: $sofia-pro-bold;
  color: $white;
  font-size: 16px;
  top: -10px;
  right: -10px;
}